extends ../layout-dashboard
include ../includes/sharedFunctions
block content
    div.dashboard-content.clearfix
        div.side-menu.col-md-2.row.hidden-xs.hidden-sm
            +side-menu
        div.page-nav
            -if(mescom == "")
                h2.dash-title Les Commandes
            -else
                h2.dash-title Mes Commandes
            /////////////////////////////////////////////////////////////////////////
            // LARGE SCREENS
            -if(command.length=="")
                div.dash-content.clearfix.hidden-sm.hidden-xs
                    div
                        div.left-content.col-md-5
                            div.item-box
                                h3 Aucune commande disponible
            -else
                div.dash-content.clearfix.hidden-sm.hidden-xs
                    div
                        div.left-content.col-md-5
                            -for(var i = 0 ; i<command.length; i++)
                                div.item-box
                                    a Id de la Commande: 
                                        = command[i]._id
                                    p Le :
                                        | &nbsp;
                                        +formatDate(command[i].created_at)
                                    p Mode de paiement :
                                        | &nbsp;
                                        = command[i].card_used
                    
                                    table.table
                                      thead.blue-grey.lighten-4
                                        tr
                                          th Article
                                          th Quantité
                                          th Prix
                                      tbody
                                        -for(var j = 0; j<command[i].items.length; j++)
                                            tr
                                                td.table-active 
                                                    a(href="/offers/#{command[i].items[j].item._id}")=command[i].items[j].item.offer_title
                                                td 
                                                    = command[i].items[j].quantity
                                                td 
                                                    = command[i].items[j].price
                                                    | &nbsp;
                                                    = command[i].items[0].item.price_currency
                                        tr
                                            th Total
                                            th
                                            th
                                                span= command[i].total_price
                                                | &nbsp;
                                                span= command[i].items[0].item.price_currency    