extends ../layout-dashboard
include ../includes/sharedFunctions

block content
	div.dashboard-content.clearfix
	div.side-menu.col-md-2.row.hidden-xs.hidden-sm
		+side-menu
	div.page-nav
		h2.dash-title Conversations
		