//
   Created by nokamojd on 30/08/2016.
extends layout
include includes/sharedFunctions
block content
    div.denied(style="text-align:center")
        h2 401 Denied Access
        p= content
            | <a href="/">la page d'accueil.</a>

