//
   Created by nokamojd on 12/07/2016.
doctype html
html
    head
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='author', content='Aprentiv Conseil')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/cs-fonts.css')
    body#simple-layout-bg
            div.container
                block content


    script(src="https://code.jquery.com/jquery-2.1.1.min.js"   integrity="sha256-h0cGsrExGgcZtSZ/fRz4AwV+Nn6Urh/3v3jFRQ0w9dQ="   crossorigin="anonymous")
    script(src="/javascripts/frmstrap.js")